# Data transformation

After exploring the data, we transform it again to match the exact format needed for the dashboard creation

In [1]:
import plotly.express as px
import pandas as pd
import numpy as np

df_tvseries = pd.read_pickle('data/tvseries.pkl')
df_episodes = pd.read_pickle('data/episodes.pkl')

We take the top 100 shows that ended before 2023 and have 3 or more seasons

In [2]:

df_high_votes_sorted =df_tvseries.sort_values(by='numVotes', ascending=False)[:188]
df_high_votes_sorted['endYear'].replace('\\N', np.nan, inplace=True)

In [3]:
df_high_votes_sorted = df_high_votes_sorted[df_high_votes_sorted["endYear"].notna()]

In [4]:
df_high_votes_sorted =  df_high_votes_sorted[df_high_votes_sorted["endYear"].astype(int) < 2023]

In [5]:
parent_shows_with_nan_votes = df_episodes[df_episodes['numVotes'].isna()]['parentTconst'].unique()
df_high_votes_sorted = df_high_votes_sorted[~df_high_votes_sorted.index.isin(parent_shows_with_nan_votes)]

In [6]:
season_counts = df_episodes.groupby('parentTconst')['seasonNumber'].nunique()

# Filter to get only shows with more than two season
shows_with_multiple_seasons = season_counts[season_counts > 2].index

# Filter the tvshows DataFrame to keep only shows with multiple seasons
df_high_votes_sorted = df_high_votes_sorted[df_high_votes_sorted.index.isin(shows_with_multiple_seasons)]
df_high_votes_sorted

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
tconst,,,,,,,,,,,,
tt0944947,tvSeries,Game of Thrones,Game of Thrones,0,2011,2019,4189,"Action,Adventure,Drama",9.2,2218977.0,"nm0638354,nm0851930,nm0336241,nm0764601,nm0617...","nm1125275,nm0552333,nm1888967,nm4984276,nm2643..."
tt0903747,tvSeries,Breaking Bad,Breaking Bad,0,2008,2013,3030,"Crime,Drama,Thriller",9.5,2057636.0,"nm0533713,nm0002835,nm0319213,nm0118778,nm0806...","nm0319213,nm0332467,nm2297407,nm1028558,nm0909..."
tt0108778,tvSeries,Friends,Friends,0,1994,2004,5280,"Comedy,Romance",8.9,1053800.0,"nm0357143,nm0109159,nm0501185,nm0123273,nm0541...","nm0186331,nm0442035,nm0798859,nm0325337,nm0153..."
tt1520211,tvSeries,The Walking Dead,The Walking Dead,0,2010,2022,44,"Drama,Horror,Thriller",8.1,1053052.0,"nm0630524,nm0766349,nm0101741,nm0225416,nm0272...","nm1891501,nm0001104,nm3079117,nm3877885,nm1764..."
tt1475582,tvSeries,Sherlock,Sherlock,0,2010,2017,88,"Crime,Drama,Mystery",9.1,972402.0,"nm0006476,nm0403541,nm0317328,nm0528186,nm1595...","nm0309693,nm0595590,nm0236279,nm1839162"
...,...,...,...,...,...,...,...,...,...,...,...,...
tt0092455,tvSeries,Star Trek: The Next Generation,Star Trek: The Next Generation,0,1987,1994,44,"Action,Adventure,Drama",8.7,131536.0,"nm0092853,nm0484464,nm0463926,nm0101385,nm0770...","nm0734472,nm0248404,nm0103804,nm0601822,nm0788..."
tt1695360,tvSeries,The Legend of Korra,The Legend of Korra,0,2012,2014,23,"Action,Adventure,Animation",8.4,130875.0,"nm1685611,nm1445544,nm1690966,nm2700094,nm1955...","nm0227204,nm1665983,nm2624720,nm0373388,nm1394301"
tt0496424,tvSeries,30 Rock,30 Rock,0,2006,2013,22,Comedy,8.3,129661.0,"nm0769135,nm0565063,nm0726642,nm0257554,nm0541...","nm0275486,nm0134224,nm1127337,nm1061622,nm2255..."
tt7016936,tvSeries,Killing Eve,Killing Eve,0,2018,2022,42,"Action,Adventure,Drama",8.1,128887.0,"nm2270017,nm4378866,nm1113890,nm0102873,nm2337...","nm4956107,nm3564817,nm4139941,nm2193504,nm6089..."
tt2628232,tvSeries,Penny Dreadful,Penny Dreadful,0,2014,2016,60,"Drama,Fantasy,Horror",8.2,128630.0,"nm2270017,nm0369949,nm1047532,nm2161247,nm1291...","nm0517589,nm6999214,nm4880670"

In [7]:
#drop rows that are not needed 
df_episodes =  df_episodes.drop(['titleType', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres', 'directors', 'writers'], axis=1)
df_episodes

,primaryTitle,originalTitle,averageRating,numVotes,parentTconst,seasonNumber,episodeNumber
tconst,,,,,,,
tt0041951,The Tenderfeet,The Tenderfeet,7.6,86.0,tt0041038,1,9
tt0042816,Othello,Othello,NaN,NaN,tt0989125,1,17
tt0042889,The Tragedy of King Richard II/II,The Tragedy of King Richard II/II,NaN,NaN,tt0989125,<NA>,<NA>
tt0043426,Coriolanus,Coriolanus,NaN,NaN,tt0040051,3,42
tt0043631,The Life of King Henry V,The Life of King Henry V,NaN,NaN,tt0989125,2,16
...,...,...,...,...,...,...,...
tt9916846,Episode #3.18,Episode #3.18,NaN,NaN,tt1289683,3,18
tt9916848,Episode #3.17,Episode #3.17,NaN,NaN,tt1289683,3,17
tt9916850,Episode #3.19,Episode #3.19,NaN,NaN,tt1289683,3,19
tt9916852,Episode #3.20,Episode #3.20,NaN,NaN,tt1289683,3,20
tt9916880,Horrid Henry Knows It All,Horrid Henry Knows It All,8.2,6.0,tt0985991,4,2

In [8]:
# we take the tconsts of the 100 shows
tconsts = df_high_votes_sorted.index
tconsts

Index(['tt0944947', 'tt0903747', 'tt0108778', 'tt1520211', 'tt1475582',
       'tt0898266', 'tt0773262', 'tt0460649', 'tt0386676', 'tt2442560',
       'tt3032476', 'tt0411008', 'tt0455275', 'tt2306299', 'tt0475784',
       'tt1856010', 'tt6468322', 'tt0412142', 'tt0460681', 'tt1442437',
       'tt3322312', 'tt1632701', 'tt2707408', 'tt0141842', 'tt2193021',
       'tt5753856', 'tt4158110', 'tt0306414', 'tt1796960', 'tt0417299',
       'tt4052886', 'tt2467372', 'tt1405406', 'tt0098904', 'tt5071412',
       'tt0367279', 'tt2372162', 'tt1124373', 'tt1837492', 'tt1439629',
       'tt1266020', 'tt0369179', 'tt2243973', 'tt2661044', 'tt1586680',
       'tt0285403', 'tt0844441', 'tt0804503', 'tt1119644', 'tt1442449',
       'tt0813715', 'tt0106179', 'tt1826940', 'tt3749900', 'tt1843230',
       'tt2364582', 'tt2357547', 'tt1606375', 'tt0979432', 'tt1196946',
       'tt0397442', 'tt0904208', 'tt0165598', 'tt1839578', 'tt4955642',
       'tt3398228', 'tt1578873', 'tt0387199', 'tt0407362', 'tt0460627',
       'tt1219024', 'tt3230854', 'tt3205802', 'tt2575988', 'tt0487831',
       'tt4179452', 'tt1567432', 'tt0118276', 'tt1327801', 'tt5555260',
       'tt1474684', 'tt8398600', 'tt0934814', 'tt2632424', 'tt0214341',
       'tt0248654', 'tt0098800', 'tt0238784', 'tt0212671', 'tt0159206',
       'tt1358522', 'tt3526078', 'tt0410975', 'tt0279600', 'tt6048596',
       'tt0092455', 'tt1695360', 'tt0496424', 'tt7016936', 'tt2628232'],
      dtype='object', name='tconst')

In [9]:
#create a dictionary where the key is the tconst of a show and the value is a dataframe of the episodes
dataframes_dict = {}
for tconst in tconsts:
    dataframes_dict[tconst] = df_episodes[df_episodes['parentTconst'] == tconst].sort_values(by=['seasonNumber', 'episodeNumber'])

In [10]:
#dictionary of tconst-show title pairs
const_title_dict = df_high_votes_sorted['primaryTitle'].to_dict()

In [11]:
const_title_dict

{'tt0944947': 'Game of Thrones',
 'tt0903747': 'Breaking Bad',
 'tt0108778': 'Friends',
 'tt1520211': 'The Walking Dead',
 'tt1475582': 'Sherlock',
 'tt0898266': 'The Big Bang Theory',
 'tt0773262': 'Dexter',
 'tt0460649': 'How I Met Your Mother',
 'tt0386676': 'The Office',
 'tt2442560': 'Peaky Blinders',
 'tt3032476': 'Better Call Saul',
 'tt0411008': 'Lost',
 'tt0455275': 'Prison Break',
 'tt2306299': 'Vikings',
 'tt0475784': 'Westworld',
 'tt1856010': 'House of Cards',
 'tt6468322': 'Money Heist',
 'tt0412142': 'House',
 'tt0460681': 'Supernatural',
 'tt1442437': 'Modern Family',
 'tt3322312': 'Daredevil',
 'tt1632701': 'Suits',
 'tt2707408': 'Narcos',
 'tt0141842': 'The Sopranos',
 'tt2193021': 'Arrow',
 'tt5753856': 'Dark',
 'tt4158110': 'Mr. Robot',
 'tt0306414': 'The Wire',
 'tt1796960': 'Homeland',
 'tt0417299': 'Avatar: The Last Airbender',
 'tt4052886': 'Lucifer',
 'tt2467372': 'Brooklyn Nine-Nine',
 'tt1405406': 'The Vampire Diaries',
 'tt0098904': 'Seinfeld',
 'tt5071412': 'Ozark',
 'tt0367279': 'Arrested Development',
 'tt2372162': 'Orange Is the New Black',
 'tt1124373': 'Sons of Anarchy',
 'tt1837492': '13 Reasons Why',
 'tt1439629': 'Community',
 'tt1266020': 'Parks and Recreation',
 'tt0369179': 'Two and a Half Men',
 'tt2243973': 'Hannibal',
 'tt2661044': 'The 100',
 'tt1586680': 'Shameless',
 'tt0285403': 'Scrubs',
 'tt0844441': 'True Blood',
 'tt0804503': 'Mad Men',
 'tt1119644': 'Fringe',
 'tt1442449': 'Spartacus',
 'tt0813715': 'Heroes',
 'tt0106179': 'The X-Files',
 'tt1826940': 'New Girl',
 'tt3749900': 'Gotham',
 'tt1843230': 'Once Upon a Time',
 'tt2364582': 'Agents of S.H.I.E.L.D.',
 'tt2357547': 'Jessica Jones',
 'tt1606375': 'Downton Abbey',
 'tt0979432': 'Boardwalk Empire',
 'tt1196946': 'The Mentalist',
 'tt0397442': 'Gossip Girl',
 'tt0904208': 'Californication',
 'tt0165598': "That '70s Show",
 'tt1839578': 'Person of Interest',
 'tt4955642': 'The Good Place',
 'tt3398228': 'BoJack Horseman',
 'tt1578873': 'Pretty Little Liars',
 'tt0387199': 'Entourage',
 'tt0407362': 'Battlestar Galactica',
 'tt0460627': 'Bones',
 'tt1219024': 'Castle',
 'tt3230854': 'The Expanse',
 'tt3205802': 'How to Get Away with Murder',
 'tt2575988': 'Silicon Valley',
 'tt0487831': 'The IT Crowd',
 'tt4179452': 'The Last Kingdom',
 'tt1567432': 'Teen Wolf',
 'tt0118276': 'Buffy the Vampire Slayer',
 'tt1327801': 'Glee',
 'tt5555260': 'This Is Us',
 'tt1474684': 'Luther',
 'tt8398600': 'After Life',
 'tt0934814': 'Chuck',
 'tt2632424': 'The Originals',
 'tt0214341': 'Dragon Ball Z',
 'tt0248654': 'Six Feet Under',
 'tt0098800': 'The Fresh Prince of Bel-Air',
 'tt0238784': 'Gilmore Girls',
 'tt0212671': 'Malcolm in the Middle',
 'tt0159206': 'Sex and the City',
 'tt1358522': 'White Collar',
 'tt3526078': "Schitt's Creek",
 'tt0410975': 'Desperate Housewives',
 'tt0279600': 'Smallville',
 'tt6048596': 'The Sinner',
 'tt0092455': 'Star Trek: The Next Generation',
 'tt1695360': 'The Legend of Korra',
 'tt0496424': '30 Rock',
 'tt7016936': 'Killing Eve',
 'tt2628232': 'Penny Dreadful'}

In [12]:
#add required columns for dashboard: normalized episode number and episode column
for df in dataframes_dict.values(): 
    df["episode"] = "S" + df["seasonNumber"].astype(str) + "E" + df["episodeNumber"].astype(str)
    max_episodes = df['episodeNumber'].max()
    df['normalizedEpisodeNumber'] = df.groupby('seasonNumber')['episodeNumber'].transform(
    lambda x: np.linspace(start=1, stop=max_episodes, num=len(x))
)

In [13]:
# remove rows from two shows with unidentified episodes 
dataframes_dict["tt2306299"] = dataframes_dict["tt2306299"][dataframes_dict["tt2306299"]["normalizedEpisodeNumber"].notna()]

In [14]:
dataframes_dict["tt0214341"] = dataframes_dict["tt0214341"][dataframes_dict["tt0214341"]["normalizedEpisodeNumber"].notna()]
dataframes_dict["tt0214341"]

,primaryTitle,originalTitle,averageRating,numVotes,parentTconst,seasonNumber,episodeNumber,episode,normalizedEpisodeNumber
tconst,,,,,,,,,
tt0843688,The Arrival of Raditz,The Arrival of Raditz,7.8,1792.0,tt0214341,1,1,S1E1,1.000000
tt0843687,The World's Strongest Team,The World's Strongest Team,8.0,1621.0,tt0214341,1,2,S1E2,2.240000
tt0843689,Gohan's Hidden Powers,Gohan's Hidden Powers,8.1,1580.0,tt0214341,1,3,S1E3,3.480000
tt1168312,Goku's Unusual Journey,Goku's Unusual Journey,8.1,1577.0,tt0214341,1,4,S1E4,4.720000
tt1168309,Gohan's Metamorphosis,Gohan's Metamorphosis,7.8,1521.0,tt0214341,1,5,S1E5,5.960000
...,...,...,...,...,...,...,...,...,...
tt1101143,Celebrations with Majin Buu,Celebrations with Majin Buu,7.5,1368.0,tt0214341,16,12,S16E12,23.733333
tt1101150,He's Always Late,He's Always Late,7.3,1370.0,tt0214341,16,13,S16E13,25.800000
tt1101149,Granddaughter Pan,Granddaughter Pan,6.6,1374.0,tt0214341,16,14,S16E14,27.866667
tt1101141,Buu's Reincarnation,Buu's Reincarnation,7.0,1361.0,tt0214341,16,15,S16E15,29.933333
tt1101144,Goku's Next Journey,Goku's Next Journey,6.9,1457.0,tt0214341,16,16,S16E16,32.000000

In [15]:
#save the two dictionaries as pickle files
import pickle

with open('data/episodes_dict.pkl', 'wb') as file:
    pickle.dump(dataframes_dict, file)

In [16]:
with open('data/const_title_dict.pkl', 'wb') as file:
    pickle.dump(const_title_dict, file)